footer{
    background: #1A3E3E;
    z-index: -1;
    position: absolute;

}
footer a{
    color: #FDFDFD;
    font-size: 11px;
    text-decoration: none;
}
footer p{
    font-size: 0.8vw;
}
.footer{
    display: flex;
    justify-content: center;
    font-family: 'nunito';
    font-size: 13px;
    color: #FDFDFD;
   
}
.Href{
    flex-direction: column;
    align-items: flex-start;
    margin: 2vh 2vw 2vh 0vw;
}

.contact{
    justify-content:flex-start;

}
 
.contact p{
    padding-right: 10px;  
    padding-top: 10px; 
}
.footerInfo{
    width: 35vw;
    margin: 0vh 6vw 5vh 0vw;
}
.hrefFooter{
    width: 25vw;
    
}
